@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@1,700&display=swap');

body {
    /*background-image: url('reqs/ava.mp4');*/
    background-size: cover;
    background-position: top center;
    background-repeat: repeat;
}

div.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1337;
    width: 100%;
}

.glitch {
    color: black;
    font-size: 5vh;
    position: relative;
    margin: 0 auto;
    font-family: 'Consolas', serif;
    font-weight: bold;
    font-style: italic;
    /*font-family: 'Modal Stencil';
    font-family: 'Libre Baskerville', serif;*/
  }

  .glitch-p {
    color: white;
    /*font-size: 5vh;*/
    position: relative;
    margin: 0 auto;
    /*font-family: 'Roboto Serif', serif;*/
  }

  .box {
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    color: #f1f1f1;
    width: 80%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border-radius: 25px;
}

p {
    font-family: 'Cyber', sans-serif;
    font-size: 20px;
    padding-left: 5px;
    margin-top: -15px;
}

h1 {
  font-family: 'Cyber', sans-serif;
}

.links {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.links a {
  margin: 1em;
}

#myVideo {
  position: fixed;
  left: 0;
  top: 0;
  margin: 0 auto;
  text-align: center;
  display: block;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  object-fit: cover;
}


@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@300&display=swap');

@font-face {
  font-family: Cyber;
  src: url("reqs/Blender-Pro-Bold.otf");
  font-display: swap;
}
